<form action="/new" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="Your Name" required>
  <label for="message">Message</label>
  <input type="text" id="message" name="message" placeholder="Your Message" required>
  <button type="submit">Submit</button>
</form>